# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Generated MOC files
projects/debug/moc_predefs.h
projects/release/moc_predefs.h
projects/GeneratedFiles/*

*.user
.vs/
.vscode
obj/vs/*
!obj/vs/.gitkeep
obj/qt/*
!obj/qt/.gitkeep
bin/*
!bin/.gitkeep

deps/libnodave-0.8.5/*
!deps/libnodave-0.8.5/build_libnodave.bat
projects/debug/moc_predefs.h.cbt
